* {
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}
body {
  color: $dark-grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background-color: $off-white;
}
a {
  color: $orange;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  &:hover {
    color: darken($turquoise, 20);
  }
}
ol,
ul {
  padding-left: 22px;
  margin-bottom: 2rem;
  li {
    list-style-position: outside;
  }
}
p {
  margin-bottom: 1.5rem;
}
.h2,
h2 {
  margin: 0 0 1rem;
  font-size: 2.4rem;
  letter-spacing: -1px;
}
.h3,
h3 {
  margin: 0 0 1rem;
  font-size: 1.8rem;
}
