// list styles
.list {
  &--bare {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
  &--center {
    float: left;
    position: relative;
    left: 50%;
    @include custom-breakpoint(620px) {
      left: auto;
      float: none;
    }
    li {
      float: left;
      position: relative;
      right: 50%;
      margin: 0 1rem;
      padding-bottom: 1px;
      @include custom-breakpoint(620px) {
        right: auto;
        float: none;
      }
      &:first-child {
        @include custom-breakpoint(620px) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
.align {
  &--center {
    text-align: center;
  }
}
.sidebar-list {
  margin-bottom: 20px;
}
.align-center {
  text-align: center;
}
.lede {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  letter-spacing: -1px;
  @include breakpoint(m) {
    font-size: 2rem;
  }
}
// align vertical center
.vc {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
