// colours
$white: #fff;
$off-white: #fcfcfc;
$khaki: #cbd586;
$turquoise: #73b6b9;
$orange: #e99b77;
$dark-grey: #434243;
$mid-grey: #c5c5c5;
// breakpoints
$mobile: 480px;
$tablet-p: 768px;
$tablet-l: 1024px;
$s-max: $mobile;
$m-max: $tablet-p;
$l-max: $tablet-l;
$w-min: 0;
